:root {
  --crust:      #00141a;
  --mantle:     #002d38;
  --base:       #073541;
  --surface0:   #586e74;
  --surface1:   #647a82;
  --surface2:   #9fabad;
  --overlay0:   #9fabad;
  --overlay1:   #adb8b8;
  --overlay2:   #ede7d4;
  --subtext0:   #adb8b8;
  --subtext1:   #ede7d4;
  --text:       #fdf6e2;
  --lavender:   #9ca0ed;
  --blue:       #278bd3;
  --sapphire:   #47adf5;
  --sky:        #a8dbff;
  --teal:       #2aa298;
  --green:      #859900;
  --yellow:     #b28600;
  --peach:      #ca4c16;
  --maroon:     #b7221f;
  --red:        #dc312e;
  --mauve:      #278bd3;
  --pink:       #d33682;
  --flamingo:   #f254a1;
  --rosewater:  #ff9b99;

  --fs-xs:   15px;
  --fs-sm:   18px;
  --fs-base: 20px;
  --fs-md:   23px;
  --fs-lg:   33px;

  --font-serif: 'Lexend', sans-serif;
  --font-sans:  'DM Sans', system-ui, sans-serif;
  --font-mono:  'JetBrains Mono', monospace;
}
