[data-theme="ayu-mirage"] {
  --crust: #171b24;
  --mantle: #1c212b;
  --base: #1f2430;
  --surface0: #242936;
  --surface1: #33415e;
  --surface2: #5c6773;
  --overlay0: #6c7680;
  --overlay1: #707a8c;
  --overlay2: #8a9199;
  --subtext0: #707a8c;
  --subtext1: #8a9199;
  --text: #cbccc6;
  --lavender: #d4bfff;
  --blue: #5ccfe6;
  --sapphire: #73d0ff;
  --sky: #95e6cb;
  --teal: #5fb3a1;
  --green: #bae67e;
  --yellow: #ffd173;
  --peach: #ffad66;
  --maroon: #f29e74;
  --red: #f28779;
  --mauve: #d4bfff;
  --pink: #ec7171;
  --flamingo: #f29e74;
  --rosewater: #ffd580;
}
