[data-theme="everforest"] {
  --crust: #1e2326;
  --mantle: #272e33;
  --base: #2e383c;
  --surface0: #374145;
  --surface1: #414b50;
  --surface2: #495156;
  --overlay0: #4f5b58;
  --overlay1: #7a8478;
  --overlay2: #859289;
  --subtext0: #859289;
  --subtext1: #9da9a0;
  --text: #d3c6aa;
  --lavender: #d699b6;
  --blue: #7fbbb3;
  --sapphire: #83c092;
  --sky: #7fbbb3;
  --teal: #83c092;
  --green: #a7c080;
  --yellow: #dbbc7f;
  --peach: #e69875;
  --maroon: #e67e80;
  --red: #e67e80;
  --mauve: #d699b6;
  --pink: #d699b6;
  --flamingo: #e69875;
  --rosewater: #d3c6aa;
}
