[data-theme="tokyonight"] {
  --crust:      #1b1d2b;
  --mantle:     #1e2030;
  --base:       #222436;
  --surface0:   #2f334d;
  --surface1:   #3b4261;
  --surface2:   #545c7e;
  --overlay0:   #636da6;
  --overlay1:   #737aa2;
  --overlay2:   #828bb8;
  --subtext0:   #828bb8;
  --subtext1:   #a9b1d6;
  --text:       #c8d3f5;
  --lavender:   #b4f9f8;
  --blue:       #82aaff;
  --sapphire:   #65bcff;
  --sky:        #86e1fc;
  --teal:       #4fd6be;
  --green:      #c3e88d;
  --yellow:     #ffc777;
  --peach:      #ff966c;
  --maroon:     #c53b53;
  --red:        #ff757f;
  --mauve:      #c099ff;
  --pink:       #fca7ea;
  --flamingo:   #ff966c;
  --rosewater:  #ffc777;
}
